<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wash Basin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="marcol">
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
	<ion-row>
		<ion-col   *ngFor="let poloMax of polomaxs;let k=index;" col-6>
			 <span class="marcol" >
						<ion-card *ngFor="let client of poloMax.categories;let i=index;">
							<span *ngIf="i==0">
							 <span *ngFor="let img of poloMax.images;let j=index;" >
								 <span *ngIf="j==0">
									   <img [src]="img.src" />
							     </span>
							  </span>
									<div style="text-align:center;width:100%;margin:10px 10px 10px 2px;color:black;">   {{poloMax.name}}<br>
									   <button ion-button style="text-align:center" color="dark" small style="box-shadow:5px 5px 2px grey"  (click)="cardTapped($event,k)">~ Details ~
							  </button></div>
							 </span> 
					</ion-card>	
				</span>	
			</ion-col>
	 </ion-row>
	
</ion-content>
